.LastNews {  
  background-color: var(--customDarkBlue);
  .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    .title {
      text-align: center;
      line-height: 25px;
      & h1 {
        color: white;
      }
      .span {
        color: var(--customWhiteSoft);
        font-weight: 600;
      }
    }
    .NewsBody {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
    }
  }
}

@media screen and (max-width: 768px) {
  .LastNews {
      padding: 50px 5px;
  }
}
